
.content {
    padding-bottom: 5rem;
    box-sizing: border-box;
    background-image: url("../../assets/3879.jpg");
    
    h1 {
        color: white;
        margin: 0 0 0 2rem;
        padding-top: 3rem;
        box-sizing: border-box;
    }
    .movies-list {
        display: flex;
        flex-wrap: wrap;   
        margin: 5%;
    }
}
